*.lock
dist
.cache
build
public
src/components.d.ts
**/node_modules/**
**/documentation/**
.browserslistrc
.editorconfig
.env.*
.eslintignore
.gitattributes
.gitignore
.lintstagedrc
.node-version
.nvmrc
.prettierignore
Dockerfile*
**/.husky/**
**/etc/**
pnpm-lock.yaml
src/assets